    <footer class="row-footer">
        <div class="container">
            <div class="row"> 
                <hr>            
                <div class="col-sm-8 col-sm-offset-1">
                    <ul class="nav nav-pills">
                        <li style="padding:10px">Links:</li>
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.info">Info</a></li>
                        <li><a ui-sref="app.shop">Shop</a></li>
                        <li><a ui-sref="app.album">Album</a></li>
                        <li><a ui-sref="app.cart">Cart</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="nav navbar-nav" style="padding: 0px 10px;">
                        <a class="btn btn-social-icon btn-facebook" href=""><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-vk" href=""><i class="fa fa-vk"></i></a>
                        <a class="btn btn-social-icon btn-pinterest" href="" style="color: #CB2027; border: 1px solid #CB2027;"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2017 Workshop Gingerbread town</p>
                </div>
            </div>
        </div>
    </footer>
