
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="backgrounds">
                    <img src="images/infoBack.jpg" height=100% width=100%>
                </div>    
                <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
                </ul>
            </div>
            <div class="col-xs-12">
               <h2>About Us</h2>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Our history</h2>
                <p>text</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p style="padding:20px;"></p>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Our Policies</h2>
                <p>text</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p style="padding:20px;"></p>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>About Delivery</h2>
                <p>text</p>
            </div>
  
            </div>
            <div class="col-xs-12 col-sm-9">
                <p style="padding:20px;"></p>
            </div>
        </div>

    </div>
